{% extends '__base.html' %}

{% block main %}
<div class="container mt-5">
    <h1 class="text-center text-success">Register</h1>
    <form method="POST" class="mt-4">
        <!-- Email -->
        <div class="form-floating mb-3">
            <input 
                type="email" 
                class="form-control" 
                name="email" 
                id="email_input" 
                placeholder="Email"
                value="{{ email }}">
            <label for="email_input" class="text-success">Email</label>
        </div>
        <!-- Username -->
        <div class="form-floating mb-3">
            <input 
                type="text" 
                class="form-control" 
                name="username" 
                id="username_input" 
                placeholder="Username"
                value="{{ username }}">
            <label for="username_input" class="text-success">Username</label>
        </div>
        <!-- Password -->
        <div class="form-floating mb-3">
            <input 
                type="password" 
                class="form-control" 
                name="password" 
                id="password_input" 
                placeholder="Password">
            <label for="password_input" class="text-success">Password</label>
        </div>
        <!-- Submit button -->
        <button type="submit" class="btn btn-success w-100">Submit</button>
    </form>
</div>
{% endblock %}